<div id="contacts"></div> <!-- элемент, в который мы будем добавлять таблицу -->

<div id="search-results">

<h2><%= @departament.title%></h2>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Email</th>
      <th>Телефон</th>
    </tr>
  </thead>
  <tbody>
  <%=render @departaments %>
     
  </tbody>
</table>

<%= paginate @departaments%> 
</div>