
<% @departaments.each do |departament|%>
<p><%= link_to departament.title, departament_path(departament)%></p>
<%end%>

<%if current_user.status == 1%>

<p><%= button_to "Создать контакт", new_contact_path, method: :get %></p>
  <div id="contacts"></div> <!-- элемент, в который мы будем добавлять таблицу -->

<%end%>


