<p id="notice"><%= notice %></p>

<h1>Все заявки</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td style="text-align: left"><%= link_to "Заявка №#{feedback.id} #{feedback.title}", feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Создать заявку', new_feedback_path, method: :get %>

<div id="contacts"></div> <!-- элемент, в который мы будем добавлять таблицу -->
