.topnav {
    background-color: #3d4b3a;
    overflow: hidden;
    height: 30px;


    a {
        color: rgb(248, 252, 248);
        text-decoration: none;
        vertical-align: middle;
    }

    .align-right {
        float: right;
        margin-left: 3px;
        margin-right: 3px;

    }

    .search {
        display: inline;
        float: left;
        margin-left: 3px;
        margin-top: 3px;


    }

}